#wrapper, .places {
    display: inline-block;
    margin: 50px;
    padding: 50px;
    border: 5px solid black
}

.green {
    color: green;
}

.red {
    color: red;
}

.places {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 180px;
    margin: 25px 20px 0px 0px;
    padding: 10px;
    border: 5px solid black;
    text-align: center;
}

h3 {
    margin-top: 20px;
}

#activities {
    display: inline-block;
    width: 780px;
    height: 100px;
    padding: 5px;
    border: 5px solid black;
    overflow: scroll;
}

#activities p {
    margin: 0px;
}